body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    overflow-x: hidden;
}
.maintitulo {
    background-color: #fdfdfd;
    color: rgb(85, 85, 85);
    text-align: center;
    font-size: x-large;
    padding-top: 8px;
    border-bottom: 2px solid rgb(167, 165, 165);
}
.Subs {
    font-size: large;
    color: #000000;
}
.linkspaginas {
    text-align:center;
    width: 100%;
    color: rgb(97, 90, 90);
    word-spacing: 10px;
    padding-left: 2%;
    font-family: Verdana, Tahoma, sans-serif;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}
.textoprincipal {
    padding: 0 0 15px 10px;
    text-align: justify;
}
a { 
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: #b1b0b0;
    text-decoration: none;
}
.mainbackground {
    background-color: #f1f1f1;
    border-top: 2px solid rgb(167, 165, 165);
}
aside {
    background-color: rgb(102, 238, 238);
    color: #5e5a5a;
    border-bottom: 3px solid rgb(167, 165, 165);
    border-right: 3px solid rgb(167, 165, 165);
    border-left: 3px solid rgb(167, 165, 165);
    text-align: justify;
    height:max-content;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2% 0 5% 0;
    box-sizing: border-box;
}
.asidepad {
    padding-left: 8px;
    padding-right: 5px;
}
footer {
    background-color: rgb(71, 68, 68);
    width: 100%;
}
.h2footer {
    text-align: justify;
}
.ulFooter {
    color: #c4c3c3;
    padding: 5px 0px 10px 20px;
}
.ulNav {
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    padding: 5px 0px 5px 0px;
    color: #686262;
}
.liNav {
    border-right: 2px solid rgb(167, 165, 165);
    padding: 2px 12px 1px 0px;
}
#lastLiNav {
    border-right: none;
}
@media only screen and (min-width: 1370px) {
    body {
      font-size: 1.40em;
      line-height: 22px;
    }
    .Subs {
        font-size: 1.1em;
    }
    .textoPrincipal {
        padding-bottom: 14px;
        line-height: 22px;
    }
    aside {
        height: 533px;
    }
    footer {
        height:auto;
        padding: 18px 0px 0px 10px;
        color: #000000e5;
    }
  }
@media only screen and (max-width: 826px) {
    .textoPrincipal {
        border-right: 0px;
    }
    aside{
        height: 100%;
        border-left: 3px solid rgb(167, 165, 165);
    }
}